@using Horizontal.Models.Interfaces;

@model IPageableSite

@if (Model.TotalNumberOfPages > 1)
{
    RouteValueDictionary routeValues;

    <div class="bottom-pages">
        <ul>
            @if (Model.Page > 1)
            {
                /* displat arrow left */
                // TODO

                /* display a maximum of three previous pages */
                for (int i = Math.Max(Model.Page - 3, 1); i < Model.Page ; i++)
                {
                    routeValues = new RouteValueDictionary(Model.RouteValues);
                    routeValues.Add("page", i);

                    <li>
                        <a href="@Url.Action(Model.ActionName, Model.ControllerName, routeValues)">
                            <span>
                                @i
                            </span>
                        </a>
                    </li>
                }
            }
            @* display current page *@
            <li class="current-page">
                @{
                    routeValues = new RouteValueDictionary(Model.RouteValues);
                    routeValues.Add("page", Model.Page);
                }
                <a href="@Url.Action(Model.ActionName, Model.ControllerName, routeValues)">
                    <span>
                        @Model.Page
                    </span>
                </a>
            </li>
            @if (Model.Page != Model.TotalNumberOfPages)
            {
                /* display a maximum of three next pages */
                for (int i = Model.Page + 1; i <= Model.TotalNumberOfPages && i < Model.Page + 4; i++)
                {
                    routeValues = new RouteValueDictionary(Model.RouteValues);
                    routeValues.Add("page", i);

                    <li>
                        <a href="@Url.Action(Model.ActionName, Model.ControllerName, routeValues)">
                            <span>
                                @i
                            </span>
                        </a>
                    </li>
                }

                /* displat arrow right */
                // TODO
            }
        </ul>
    </div>
}