@using Microsoft.AspNetCore.Components.Routing
@using Horizontal.Models.Admin

@model IList<TagPreviewModel>
@{
    Layout = "/Views/Admin/_AdminLayout.cshtml";
}

<div class="container" style="margin:0;padding:0;">
    <div class="row">
        <h1 class="col" style="width:150px; font-size:2rem">
            Tagy
        </h1>
        <a class="btn btn-success col" href="Tag/Create" style="margin-bottom:10px;max-width:125px">
            Nový Tag
        </a>
    </div>
</div>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>Název</th>
            <th style="text-align:center; width:140px">Vypublikováno</th>
            <th style="text-align:center; width:140px">V horní liště</th>
            <th>URL</th>
            <th style="width:200px">Akce</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Count() > 0)
        {
            @foreach (var tag in Model)
            {
                <tr>
                    <td>
                        @tag.Name
                    </td>
                    <td style="text-align:center">
                        @if (tag.IsPublished)
                        {
                            <i class="fa-solid fa-square-check fa-2xl" style="color: #16d416; vertical-align: middle; "></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-square-xmark fa-2xl" style="color: #df1111;"></i>
                        }
                    </td>
                    <td style="text-align:center">
                        @if (tag.IsInTopNavbar)
                        {
                            <i class="fa-solid fa-square-check fa-2xl" style="color: #16d416; vertical-align: middle; "></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-square-xmark fa-2xl" style="color: #df1111;"></i>
                        }
                    </td>
                    <td>
                        @tag.CustomUrl
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm" href="Tag/Detail?tagId=@tag.Id.ToString()">
                            Detail a editace
                        </a>
                        <a class="btn btn-danger btn-sm" href="Tag/Delete?tagId=@tag.Id.ToString()">
                            Smazat
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">Žádné tagy</td>
            </tr>
        }
    </tbody>
</table>