@using Microsoft.AspNetCore.Components.Routing
@using Horizontal.Models.Admin

@model GeneralSettingsModel
@{
    Layout = "/Views/Admin/_AdminLayout.cshtml";
}

@section AdminScripts {
    <script type="text/javascript" src="/js/admin-forms.js"></script>
}

<div class="container" style="margin:0;padding:0;">
    <div class="row">
        <h1 class="col" style="width:150px; font-size:2rem">
            Obecná nastavení
        </h1>
        <a class="btn btn-warning col" href="/admin/general/ActualizeLeftNavBar" style="margin-bottom:10px;max-width:280px">
            Aktualizovat levé navigační menu
        </a>
    </div>

    <form method="post" action="@Url.Action("Edit", "GeneralSettings")">
        <fieldset>
            <input type="hidden" name="Id" value="@Model.Id">

            <div class="form-group">
                <label for="PageSize">Velikost stránky</label>
                <input type="number" name="PageSize" class="form-control" value="@Model.PageSize" />
            </div>
        </fieldset>

        <button type="submit" class="btn btn-success mb-2" style="margin-top:10px">Uložit změny</button>
    </form>
</div>